/* formularz checkbox */
.checkbox-form span.wpcf7-list-item{
    margin-left: 12px;
    margin-top: 10px;
  }

/* cookie */
.cookie-notice-container {
  box-shadow: 2px 5px 12px 4px #000;
}
a#cn-accept-cookie {
  border: 1px solid #333;
  padding: 6px 10px;
}
a#cn-more-info {
  text-decoration: underline;
}
a#cn-more-info:hover{
  text-decoration: none;
}
.page-template-contact {
  overflow-x: hidden;
}

/* rodo and newsletter */
.rodo-and-newsletter h2{
  font-size: 2.5rem !important;
}

body.sticky .static-page {
  padding-top: 100px;
}
.static-page{
  margin: 100px auto;
}

@media (min-width: 992px){
  body {
      font-size: 18px !important;
  }
}

a.button-black-border {
  border: 1px solid #333;
  padding: 7px 30px;
}

@media (min-width: 992px){
  .page-template-technologies .bg-full.bg-parallax {
    background-size: cover;
  }
}

/* RUSTICAL */
.rustical,
.bg-gray5 {
  background-color: #424242;
}
.logo-rustical-s, .logo-rustical-m, .logo-rustical-l, .logo-rustical-bl-s, .logo-rustical-bl-m, .logo-rustical-bl-l {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  width: 100%; }
.logo-rustical-s, .logo-rustical-m, .logo-rustical-l {
  background-image: url("../img/rustical.svg"); }
.logo-rustical-bl-s, .logo-rustical-bl-m, .logo-rustical-bl-l {
  background-image: url("../img/rustical-01.svg"); }
.logo-rustical-s {
  height: 90px;
}
.logo-rustical-m {
  height: 15px;
}
.logo-rustical-l {
  height: 32px;
}
.logo-rustical-bl-s {
  height: 30px;
}
.logo-rustical-bl-m {
  height: 37px;
}
.logo-rustical-bl-l {
  height: 76px;
}
.page-id-4 .wrapper#wrapper-content .container-fluid > div:nth-child(2) > div {
  background-image: url("https://avanport.pl/wp-content/uploads/2018/10/rustical_big-3-compressed.jpg") !important;
}

/* Poprawa stylowania dropdown-menu (skakało wcześniej) */
#menu-item-32 > .dropdown-menu {
  padding: 0;
  margin: 0;
}
/* Ukrycie Rusticala dla wersji angielskiej */
.lang-en .dropdown-menu li:nth-child(5) {
  display: none;
}
.lang-en.single-my_products div.line-link:first-of-type {
  display: none;
}
.lang-en.home .wrapper#wrapper-content .container-fluid > div:nth-child(2) {
  display: none;
}
/* Ukrycie Rusticala dla wersji niemieckiej */
/* .lang-de .dropdown-menu li:nth-child(5) {
  display: none;
}  */
.lang-de.rusticalll div#wrapper-content .models {
  display: none;
}
.lang-de.rusticalll div#wrapper-content .col-12.col-lg-8.mx-lg-auto.mt-5.pt-4 {
  margin-bottom:5rem;
}

 .lang-de.single-my_products div.line-link:first-of-type {
  display: none;
}
.lang-de.home .wrapper#wrapper-content .container-fluid > div:nth-child(2) {
  display: none;
}
/* Usunięcie zmiany języka gdy jesteśmy na stronach z linii rustical */
.rusticalll .language-chooser{
  display: none;
}

/* nowy obraz dla klamki mimolimit na afterze */
@media screen and (min-width: 501px) {
  #handle_mimolimit .d-inline-block.align-middle.pt-5.pt-lg-0::after {
    content: "";
    background-image: url("../img/mimolimit-colors.jpg");
    background-repeat: no-repeat;
    width: 458px;
    height: 458px;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  #handle_mimolimit .d-inline-block.align-middle.pt-5.pt-lg-0::after {
    content: "";
    background-image: url("../img/mimolimit-colors-small.jpg");
    background-repeat: no-repeat;
    width: 270px;
    height: 342px;
    display: block;
    margin: 0 auto;
  }
}
