.post-title {
	text-transform: uppercase; 
	font-family: serif;
	position: relative;
	h1 {
		letter-spacing: 3px;
		font-weight: 900;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background: #212529;
		height: 2px;
		width: 40px;
	}
}

.bg-full--blog {
	background-attachment: fixed;
}

@include media-breakpoint-up(xl) {
	.post-title {
		h1 {
			font-size: 50px;
		}
	}
}