@include media-breakpoint-up(lg) {
/*min width 992*/




.h-100v {
  /*min-height: 100vh;*/
  height: 100vh;
}

.f-lg-16{
  line-height: 28px;
}
.w-95{width: 99%!important;}
  /*
  typo colors
  */
  
  a{
    color: $black;

    &:active,
      &:hover{
      color: $black;
      text-decoration: underline;
    }
  }
  
  a.line-link{
    transition:filter .5s;
    -webkit-transition: -webkit-filter .5s;
    display: block;
    width: 100%;
    height: 100%;
    /*opacity: 1;*/
    
    
    &:hover,
      &:active{
      /*opacity: .7;*/
      filter: brightness(1.1);
      -webkit-filter: brightness(1.1);
      text-decoration: none;
    }
  }
  
  .bg-full.bg-parallax{
    background-size:  110% 110%;
    background-position: 50% 0px ;
  }
  
  .line-link{
  
  a{
    color: $white;
    
    &:active,
      &:hover{
      color: $white;
      text-decoration: none;
    }
  }
}

.footer,
.social{
  a{

    &:hover,
      &:active{
      color: $white;
    }
  }
}

.footer{
  height: 228px;
}

.footer-menu li {padding-left: 5px;}

#gallery{
  min-height: 626px;
}

body{
  font-size: 18px;
  line-height: 28px;
}

/*
header
*/

.sticky{
  .wrapper-navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: auto;
    padding-bottom: 0;

    /*.navbar{padding: 0rem 1rem .5rem 1rem;}*/
    .language-chooser{display: none;}
    .navbar-brand {
      width: 43px;
      height: 40px;
    }
    
    #main-menu{bottom: 0px;}
  }
  
  #wrapper-content{padding-top: 66px;}
}

.wrapper-navbar{
  padding-bottom: 10px;
  /*height: 100px;*/
  /*transition: height .3s;*/
}



.lang{
  position: absolute;
  right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link{padding: 0}

#header-line{
    width: 100px;
    height: 2px;
    background: $black;
    position: absolute;
    left: -10px;
    top: -10px;
    transition: left .5s, width .5s;
    -webkit-transition: left .5s, width .5s;
}

#main-menu{

  position: absolute;
  right: 0;
  bottom: -10px;

  &>.menu-item{
    padding-left: 20px;

    &:first-of-type{padding-left: 0;}
  }
}


.dropdown-menu{
  border: 0;
  width: 250px;;
  padding: 6px 0 0 0;

  li{
    line-height: 49px;
    height: 49px;
    padding: 0 20px;
    border-bottom: 2px solid $white;
    background-color: $gray1;
    transition: filter .5s;
    -webkit-transition: -webkit-filter .5s;
    
    &:hover{
      background: $white;
      color: $black !important;
      filter: invert(100%);
      -webkit-filter: invert(100%);
      
      a{
        color: $black !important;
      }
    }

    &:last-of-type{
      border-bottom: 0;
    }

    a{
      padding: 0;
    }
  }
}

/*
  page styles 
*/
//home banner
.h-100v.video{
  min-height: calc(100vh - 100px);
  height: calc(100vh - 100px);
  overflow: hidden;
} 



.line-banner{
  height: 500px;
}

.model-sub-menu{
  &>div{
    transition: background .5s;
    -webkit-transition: background .5s;
    
    a{
      transition: color .5s;
      -webkit-transition: color .5s;
    }
    &:hover{
      background: $black;
      
      a{
        &:link,
          &:visited,
          &:hover,
          &:active{
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

.model-mobile{
  height: 50px;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;

  .position-absolute{
    display: flex;
  }

  span,a{
    height: 50px;
    line-height: 50px;
    min-width: 65px;
    border-bottom: 1px solid $gray1;
  }
}

#variants{
  display: block; 

  div{
    display: block;
  }
  span{
    display: inline-block;
    font-family: $bold;
    
  }
  div,
  span{
    height: inherit;
    /*line-height: inherit;*/
    /*font-family: inherit;*/
    min-width: auto;
    text-align: left;
    line-height: 20px;
  }
}

#variants,
.model-mobile{
  .first{
    width: auto;
    font-family: $medium;
    line-height: 16px;
  }
}

.gallery-wrapper{
  overflow: hidden;
  overflow-x: hidden;
}

.gallery{
  transition: transform .5s;
  -webkit-transition: transform .5s;
}

.gallery-page{
  flex-wrap: wrap;
  width: 474px;
  height: 599px;
}

.gallery-item{
  border-top: 0px;
  border-right: 0px;
  min-height: 149px;
}

.gallery-item,
.gall-item,
.handle,
.plus,
.gal-prev,
.gal-next{
  position: relative;
  
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $gray1;
    opacity: 0;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    pointer-events: none;
  }
  
  &:hover,
    &.active{
    &:after{
      opacity: .3;
    }
  }
}

.gal-prev,
.gal-next{
  line-height: 32px;
  opacity: .4;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;

  &.active{opacity: 1;}
}
.gal-prev{right:28px;}

.model_thumb_big{
  height: 360px;
  border: 1px solid transparent;
  /*    transition: border .3s;
      -webkit-transition: border .3s;*/

  &:hover{
    border: 1px solid $gray1;
    
  }


  a{
    

    &:hover,
      &:visited{
      text-decoration: none;
    }
  }
}

#front-popup{
  &.mfp-wrap{
    &:before{
      width: 150px;
      height: 30px;
      background-image: url('../img/logo.svg');
    }
  }
}

//architect
.download-ico{
  
  & + div{
    &:hover{text-decoration: underline;}
  }
}

.tnp-field-email{
  width: 283px;
}
.tnp-field-button{
  width: 155px;
  margin-left: -5px;
}

//contact

#gmap{
  height: auto;
}

.wpcf7 input[type=submit]{
  background: $black;
  color: $white;
  width: 160px;
  margin-top: 6px;
  height: 45px;
  line-height: 37px;
  text-transform: uppercase;

  &:hover{
    color: $black;
    background: $white;
  }
}

}