// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


//cloros

$black      : #000;
$white      : #fff;
$gray0      : #ecedee; //lighter used as background for models on bottom
$gray1      : #dadbdd; //lighter, basic gray, used on most elements, tables, lines, borders etc
$gray2      : #b8b7b7; //used on lang switcher
$gray3      : #666666; //used on home page 
$gray4      : #3d3d3d; //darker on home page




$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px
/*xxl: 1510px*/
) !default;

$container-max-widths: (
sm: 540px,
md: 720px,
lg: 960px,
xl: 1140px
/*xxl: 1460px*/
) !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 10),
  8: ($spacer * 20)
) !default;

$line-logos: respect balance eternal;
$line-logos-sizes: s m l;
