@include media-breakpoint-up(md) {
/*min width 768*/
.h-50v {
  min-height: auto;
  height: auto;
}

#back-popup{
  .mfp-container{
    width: 570px;
    left: 50%;
    margin-left: -285px;
    background: $white;
    padding: 0;
  }

  .mfp-content{
    width: 570px;
  }
}

.gallery-wrapper{
  min-height: 140px;
}

.gallery-item{
  min-width: 150px;
}
}

@include media-breakpoint-down(md){
  .page-template-technologies,
  .page-template-brand{
    .container{max-width: 98% !important}
  }
}
