@include media-breakpoint-up(xl) {
  .navbar-brand {
    width: 286px;
    height: 58px;
  }

  #main-menu {
    &>.menu-item {
      padding-left: 40px;
    }
  }
}
/*@include media-breakpoint-up(xl) {
min width 1200
  //variables

  //typo sizes and styles
  body{
    font-size: 18px;
    line-height: 28px;
  }
  
  
header
  
  
  .wrapper-navbar{
    height: 100px;
  }
  
  .navbar-brand{
    width: 282px;
    height: 58px;
  }

  .lang{
    position: absolute;
    right: 0;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link{padding: 0}
  
  #main-menu{
    
    position: absolute;
    right: 0;
    bottom: 0;
    
    &>.menu-item{
      padding-right: 40px;
      
      &:last-of-type{padding-right: 0;}
    }
  }
  .dropdown-menu{
    border: 0;
    width: 220px;;
    padding: 0;
    
    li{
      line-height: 49px;
      height: 49px;
      padding: 0 20px;
      border-bottom: 1px solid $white;
      background-color: $gray1;
      
      &:last-of-type{
        border-bottom: 0;
      }
      
      a{
        padding: 0;
      }
    }
  }
  

  page styles 

  .line-banner{
    height: 500px;
  }
  
  .model_thumb_big{
    height: 360px;
    border: 1px solid transparent;
    transition: border .3s;
    -webkit-transition: border .3s;
    
    &:hover{
      border: 1px solid $gray1;
    }
    
    
    a{
      display: block;
      width: 100%;
      height: 100%;
      
      
    }
  }

}*/