* {
  outline: 0 !important;
}
.container{
  position: relative;
}
.wrapper{padding: 0;}

.h-25v {
  min-height: 25vh;
  height: 25vh;
}

.h-50v {
  min-height: 50vh;
  height: 50vh;
}

.h-75v {
  min-height: 75vh;
  height: 75vh;
}

.h-100v {
  min-height: 100vh;
  /*height: 100vh;*/
}

.page-template-home{
  .h-100v{
    height: 100vh;
  }
}

$row-heights: (
auto : auto,
15 : 15%,
25 : 25%,
30 : 30%,
45 : 45%,
50 : 50%,
60 : 60%,
75 : 75%,
80 : 80%,
85 : 85%,
90 : 90%,
100 : 100%
);

@each $bp, $min-width in $grid-breakpoints{
  @if $bp != 'xs' {
    @media (min-width: $min-width){
      @each $sn, $fs in $row-heights{
        .h-#{$bp}-#{$sn}{
          height: $fs !important;
        }
      }
    } 
  }
  @else {
    @media (min-width: $min-width){
      @each $sn, $fs in $row-heights{
        .h-#{$sn}{
          height: $fs !important;
        }
      }
    } 
  }
} 

.w-95{width: 98%!important;}
.bottom-0 {position: absolute; bottom: 0;}
.invert{filter:invert(100%);}
//typo sizes
//typo sizes and styles
body{
  font-size: 18px;
  line-height: 28px;
  font-family: $medium;
  font-weight: normal;
}

.f-b{
  font-family: $bold;
  font-weight: normal;
}

.f-sb{
  font-family: $medium;
  font-weight: normal;
}

.f-sc,
strong{
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 1.5px;
}

.text-uppercase{
  letter-spacing: 1.5px;
}

strong{
  font-family: $bold;
  font-weight: normal;
}

.f-12{
  line-height: 16px;
}

.f-lh-20{
  line-height: 20px;
}

h2 u{
  text-decoration: none;
  position: relative;
  
  &:after{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -6px;
    left: 0;
    background: $black;
  }
}



/*
typo colors
*/

.body{
  color: $black;
}

.txt-white{
  color: $white;
}

.txt-gray{
  color: $gray2;
}

a{
  color: $black;
  
  &:link,
    &:visited{
    color: $black;
  }
}

.footer,
.social{
  a{
    $color: $white;

    &:link,
      &:visited{
      color: $white;
    }
  }
}
/*
backgrounds
*/
.bg-full{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.respect,
.bg-black{
  background-color: $black;
}

.bg-gray0{
  background-color: $gray0;
}

.bg-gray1{
  background-color: $gray1;
}

.balance,
.bg-gray4{
  background-color: $gray4;
}

.eternal,
.bg-gray3{
  background-color: $gray3;
}

.bg-fixed{
  background-attachment: fixed;
  background-position: center 66px;
}

.ral-9005{
  background: url('../img/ral-9005.png') repeat;
}

.ral-9003{
  background: url('../img/ral-9003.png') repeat;
}

.ral-7021{
  background: url('../img/ral-7021.png') repeat;
}

.ral-7004{
  background: url('../img/ral-7004.png') repeat;
}
/*
borders
*/

.border-white{
  border-color: $white;
}

.border-gray{
  border-color: $gray1;
}

.border-1{
  border-width: 1px !important;
}

.border-2{
  border-width: 2px !important;
}

.border-all{
  margin-right: -1px;
  margin-bottom: -1px;
}

//logos
.navbar-brand{
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: auto 100%; 
}

.footer-brand{
  background-image: url('../img/logo-footer.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.logo-{
  &respect-s,
  &balance-s,
  &eternal-s,
  &respect-m,
  &balance-m,
  &eternal-m,
  &respect-l,
  &balance-l,
  &eternal-l,
  &respect-bl-s,
  &balance-bl-s,
  &eternal-bl-s,
  &respect-bl-m,
  &balance-bl-m,
  &eternal-bl-m,
  &respect-bl-l,
  &balance-bl-l,
  &eternal-bl-l{
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    width: 100%;
  }
  &respect{
    
    &-s,
    &-m,
    &-l{
      background-image: url('../img/respect.svg');
    }
    
    &-bl{
      &-s,
      &-m,
      &-l{
        background-image: url('../img/respect-01.svg');
      }
    }
    
    
  }
  
  &balance{
    &-s,
    &-m,
    &-l{
      background-image: url('../img/balance.svg');
    }
    
    &-bl{
      &-s,
      &-m,
      &-l{
        background-image: url('../img/balance-01.svg');
      }
    }
  }
  
  &eternal{
    &-s,
    &-m,
    &-l{
      background-image: url('../img/eternal.svg');
    }
    
    &-bl{
      &-s,
      &-m,
      &-l{
        background-image: url('../img/eternal-01.svg');
      }
    }
  }
  
  &respect,
  &balance,
  &eternal{
    &-s{height: 90px;}
    &-m{height: 15px;}
    &-l{height: 32px;}
    &-bl-s{height: 30px}
    &-bl-m{height: 37px;}
    &-bl-l{height: 76px;}
  }
}


#loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background: $white;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  opacity: 1;
  
  .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
  }
  
  &.loaded{
    opacity: 0;
    pointer-events: none;
  }
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*
header
*/

.wrapper-navbar{
  a{
    &:link,
      &:visited{
      color: $black;
    }

    &:hover,
      &:active{
      color: $black;
    }
  }
}

.sticky{
  .wrapper-navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: auto;

    /*.navbar{padding: 0rem 1rem .5rem 1rem;}*/
    .language-chooser{display: none;}
    .navbar-brand {
      width: 40px;
      height: 38px;
    }
  }
  #wrapper-content{padding-top: 66px;}
}

#wrapper-content{
/*  transition: padding .3s;
  -webkit-transition: padding .3s;*/
}

.dropdown-menu{
    border: 0;
    /*width: 200px;;*/
    padding: 0;
    
    li{
      line-height: 49px;
      height: 49px;
      padding: 0 20px;
      border-bottom: 1px solid $white;
      background-color: $gray1;
      
      &:last-of-type{
        border-bottom: 0;
      }
      
      a{
        padding: 0;
      }
    }
  }
.dropdown-toggle::after{display: none;}

.collapse.show{  padding-top: 15px;}

.mobile-lang-menu ul {margin: 0; padding: 0;}

.navbar-light .navbar-nav .nav-link{
  color: $black;
}

.navbar-brand{
  width: 190px;
  height: 38px;
  overflow: hidden;
  text-indent: 300px;
  transition: height .3s;
  -webkit-transition: height .3s;
}

.navbar-toggler{
  border: 0;
  outline: 0;
}

.language-chooser{
  text-transform: lowercase;
  list-style: none;
  
  li{
    display: inline-block;
    
    &.active{
      display: none;
      }
    }
  
  a{
    &:link,
      &:visited{
      color: $gray2;
    }
    
    &:hover,
    &:active{
      color: $black;
    }
  }
}

/*
footer
*/

.footer{
  height: 406px;
}

.footer-brand{
  overflow: hidden;
  text-indent: 300px;
  width: 53px;
  height: 105px;
  display: block;
}

.social,
.footer-menu{
  list-style: none;
  
  li{
    display: inline-block;
  }
}

.social{
  margin: 0;
  padding:0;
  
  li{
    width: 96px;
    height: 29px;
    line-height: 29px;
    border: 1px solid $white;
    margin-right: -1px;
    text-align: center;
  }
  
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}

.home-social{
  position: absolute;
  bottom: 30px;
  right: 0;
}

/*
page styles 
*/

.page-template-technologies,
.page-template-brand{
  .h-100v{
/*    position: sticky;
    top:66px;*/
  }
}
.line-banner{
  height: 250px;
}

.model_thumb_big{
  height: 180px;
  
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}

.octagon{
  width: 31px;
  height: 31px;
  display: block;
  background: url('../img/octagon.svg') no-repeat;
  background-position: left center;
  background-size: auto 100%;
  text-align: center;
  line-height: 32px;
  
/*  &:before{
   
    
    position: absolute;
    left: -9px;
    top: -2px;
    background: url('../img/octagon.svg') no-repeat;
    background-position: left center;
    background-size: auto 100%;
  }*/
  
  
}


.table-row{
  display: flex;
  width: 100%;
  border-bottom: 2px solid $white;
  
  a{
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  ul{margin: 0;}
}

.model-mobile{
  height: 50px;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  
  .position-absolute{
    display: flex;
  }
  
  span,a{
    height: 50px;
    line-height: 50px;
    min-width: 65px;
    border-bottom: 1px solid $gray1;
  }
}

#variants{
  display: flex;
  min-height: 50px;
  
  div,
  span{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    /*border-bottom: 1px solid $gray1;*/
    white-space: nowrap;
    font-family: $bold;
    min-width: 65px;
    text-align: center;
  }
}

#variants,
.model-mobile{
  .first{
    width: 125px;
  }
}


.select,
.select-variant{
  display: inline-block;
  padding: 0px 7px;
  border: 1px solid $white;
  cursor: pointer;
  height: 21px;
  line-height: 21px;
  
  &.active{border: 1px solid $black;}
}

.gallery-wrapper{
  overflow: hidden;
  overflow-x: auto;
  min-height: 100px;
}

.gallery{
  margin-bottom: 0;
  margin-bottom: 0;
  flex-wrap: nowrap;
  position: absolute;
  width: 200%;
}

.gallery-item{
  border-top: 1px solid $gray1;
  border-right: 1px solid $gray1;
  min-width: 108px;
}

.gallery-item,
.handle{cursor: pointer;}

.catalog-thumb{
  img{
    height: 150px;
  }
}

.line-link{
  
  .row{height: 205px;}
  
  a{
    color: $white;
    
    &:link,
      &:visited{
      color: $white;
    }
  }
  
  .w-95{
    width: 95% !important;
  }
}

#gallery{
  /*min-height: 500px;*/
}

#gallery,
#variants{
  opacity: 1;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  
  &.loading{
    opacity: 0;
  }
}

.gallery-page {
  display: flex;
  flex-wrap: nowrap;
  /*width: 328px;*/
}

.big-photo {
  position: relative;
  
  img{width: 100%;}
}

.plus,
.gal-prev,
.gal-next{
  position: absolute !important;;
  text-align: center;
  width: 28px;
  height: 28px;
  line-height: 30px;
  text-align: center;
  right: 0;
  bottom: 0;
  display: block;
  color: $gray3 !important;
  cursor: pointer;

  &:hover,
    &:active{
    text-decoration: none;
  }
}




.gall-item a{
  outline: 0;
  display: block;
  width: 100%;
  height: 100%;
  
  &:hover,
    &:active{
    text-decoration: none;
  }
}


#front-popup{
  &.mfp-wrap{
/*    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-size: 143px 30px;
    background-position: 28px 35px;*/
    background-color: $white;
    
    &:before{
      content: '';
      display: block;
      position: fixed;
      top: 35px;
      left: 28px;
      width: 30px;
      height: 30px;
      background-image: url('../img/logo.svg');
      background-size: auto 100%;
      background-repeat: no-repeat;
      z-index: 10000;
    }
  }
  
  .pop-info{
    text-align: center;
    padding-top: 40px;
    z-index: 10000;
    
    div{
      display: inline-block;
    }
    
    .pop-name{
      width: 36px;
      height: 36px;
      line-height: 38px;
      text-align: center;
      background: url('../img/octagon.svg') no-repeat;
      background-size: 100% 100%;
      margin-right: 13px;
    }
  }
  
  .mfp-counter{display: none;}
}

.mfp-close{
  position: fixed;
  top: 0;
  right: 0 !important;
  color: $black;
  width: 58px !important;
  height: 58px;
  line-height: 60px;
  border: 1px solid $gray1 !important;
  font-size: 44px;
  text-align: center;
  overflow: hidden !important;
  text-indent: 100px;

  &:before,
    &:after{
    content: '';
    display: block;
    height: 2px;
    width: 28px;
    background: $gray3;
    position: absolute;
    top: 27px;
    left: 15px;
  }

  &:before{
    /*left: 15px;*/
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  &:after{
    /*left: 15px;*/
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

button.mfp-arrow{
  border: 1px solid $gray0;
  width: 58px;
  height: 58px;
}

.mfp-arrow-left:after {
  border-right: 26px solid #fff;
  margin-left: 15px;
}
.mfp-arrow-left:before {
  margin-left: 12px;
}
.mfp-arrow-right:after {
  border-left: 26px solid #fff;
  margin-left: 12px;
}
.mfp-arrow-right:before {
  margin-left: 14px;
}
.mfp-arrow:after {
  border-top-width: 20px;
  border-bottom-width: 20px;
  top: 1px;
}
.mfp-arrow:after, 
.mfp-arrow:before{
  /*margin-left: 15px;*/
  margin-top: 8px;
}


#back-popup{
  .mfp-container{
    width: 100%;
/*    left: 50%;
    margin-left: -285px;*/
    background: $white;
    padding: 0;
  }
  
  .mfp-content{
    width: 100%;
  }
  
  .pop-name{
    margin: 20px auto;
    font-size: 16px;
    font-family: $medium;
  }
  
  .mfp-container:before{display: none;}
  
  .mfp-close{
    position: absolute;
  }
  
  .mfp-counter{display: none;}
}

.mfp-figure:after{
  display: none;
}

.pop-info{
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  color: $black;
  
  .pop-name{
    position: relative;
    width: 30px;
    height: 30px;
  }
  .pop-variant{
    width: auto;
    height: 30px;
  }
}

//architect
.download-ico{
  width: 28px;
  height: 33px;
  background: url('../img/download.svg') no-repeat;
  background-size: 100% 100%;
  text-align: center;
  line-height: 50px;
}

.tnp-field-email{
  width: 170px;
}
.tnp-field-button{
  width: 118px;
  margin-left: -5px;
}
//contact

#gmap{
  height: 300px;
}

.form-control, .wpcf7 .wpcf7-validation-errors, .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime], .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number], .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=submit], .wpcf7 input[type=tel], .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week], .wpcf7 select, .wpcf7 textarea{
  border-radius: 0;
}

.btn-outline-primary, .wpcf7 input[type=submit]{
  color: $black;
  border-color: $black;
}
.btn-outline-primary:hover, .wpcf7 input[type=submit]:hover{
  color: $white;
  border-color: $black;
  background-color: $black;
}

.wpcf7 input[type=submit]{
  background: $black;
  color: $white;
  width: 160px;
  margin-top: 6px;
  height: 45px;
  line-height: 37px;
  text-transform: uppercase;
  font-variant: small-caps;
  font-family: $bold;
}
//loader

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #000000;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 5em;
  height: 5em;
  box-shadow: inset 0 0 0 .5em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 2.6em;
  height: 5.1em;
  background: #ffffff;
  border-radius: 5.1em 0 0 5.1em;
  top: -0.05em;
  left: -0.05em;
  -webkit-transform-origin: 2.6em 2.5em;
  transform-origin: 2.6em 2.5em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 2.6em;
  height: 5.1em;
  background: #ffffff;
  border-radius: 0 5.1em 5.1em 0;
  top: -0.05em;
  left: 2.5em;
  -webkit-transform-origin: 0px 2.5em;
  transform-origin: 0px 2.5em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 991px) {
  .kontakt-right{
    margin-top: 50px;
  }
}
