@font-face {font-family: 'Urban-Grotesk-Medium';src: url('../fonts/Urban-Grotesk-Medium.woff') format('woff')}
@font-face {font-family: 'Urban-Grotesk-Bold';src: url('../fonts/Urban-Grotesk-Bold.woff') format('woff')}


$medium: "Urban-Grotesk-Medium", "Helvetica Neue", Arial, sans-serif;
$bold : "Urban-Grotesk-Bold", "Helvetica Neue Bold", Arial, sans-serif;

$font-sizes: (
  100: 100px,
  80: 80px,
  70: 70px,
  40: 40px,
  36: 36px,
  22: 22px,
  18: 18px,
  16: 16px,
  14: 14px,
  12: 12px,
  10: 10px
);

@each $sn, $fs in $font-sizes{
  .f-#{$sn}{
    font-size: $fs;
  }
}

@each $bp, $min-width in $grid-breakpoints{
  @if $bp != 'xs' {
    @media (min-width: $min-width){
      @each $sn, $fs in $font-sizes{
        .f-#{$bp}-#{$sn}{
          font-size: $fs;
        }
      }
    } 
  }
} 



.h2, h2{font-size: inherit;}

